/* Global CSS */
label{
	cursor: pointer;
	display: inline-block;
	min-width: 100px;
	text-align: right;
	margin-right: 10px;
}
.errorPrettyPrint .successMessage{
	color: darkgreen;
}
.errorPrettyPrint .errorMessage{
	color: red;
}

/* insertUpdateForm CSS */
.formBuilder.insertUpdateForm ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.formBuilder.insertUpdateForm ul li{
	margin-bottom: 15px;
}
.formBuilder.insertUpdateForm .radioLabel{
	display: block;
	cursor: pointer;
}
.formBuilder.insertUpdateForm.checkboxLabel{
	display: block;
	cursor: pointer;
}

/* editTable CSS */
.formBuilder.editTable .expandable{
	display: none;
}